@use '../../styles/vars';
@import '../../styles/mixins';

.user {
  @include flexCenter;
  flex-direction: column;

  &--input {
    margin-top: 0.5em;
    border-radius: 5px;
    padding: 0.5em 1em;
    background: vars.$white;
    color: vars.$black;
    border: 2px solid vars.$black;
    transition: none !important;

    &:focus {
      border-color: vars.$dark-grey;
    }
  }
}

@media screen and (min-width: 850px) {
  .user--input:hover {
    border-color: vars.$main-hover;
  }
}