@use '../../styles/vars';
@import '../../styles/mixins';

.user {
  @include flexCenter;
  flex-direction: column;

  &--input {
    margin-top: 0.5em;
    border-radius: 5px;
    padding: 0.5em 1em;
    background: vars.$white !important;
    border: 2px solid transparent;
    transition: none !important;

      &:focus {
        border-color: vars.$main-color;
      }

    &.dark {
      color: vars.$black;
    }
  }
}

@media screen and (min-width: 850px) {
  .user--input:hover {
    border-color: vars.$main-hover;
  }
}