@use '../../styles/vars';
@import '../../styles/mixins';

.list {
  position: relative;
  border: 2px solid transparent;
  border-radius: 5px;

  &.light {
    border-color: vars.$black;

    .list--delete--label {
      color: vars.$black;
    }
  }

  &.dark {
    border-color: vars.$white;

    .list--delete--label {
      color: vars.$white;
    }
  }

  &--title {
    font-weight: bold;
  }
}

@media screen and (min-width: 850px) {
  .list {
    width: 20em;
    padding: 2em;
    margin: 2em;
  }
}