@use '../../styles/vars';
@import '../../styles/mixins';

.list {
  position: relative;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
  min-height: 200px;
  width: 70vw;

  &.light {
    border-color: vars.$black;
    color: vars.$black;
    background: vars.$main-color;
  }

  &.dark {
    border-color: vars.$white;
    color: vars.$white;
    background: vars.$dark-grey;
  }

  &--title {
    font-weight: bold;
  }
}

@media screen and (min-width: 850px) {
  .list {
    width: 20em;
    padding: 2em;
    margin: 2em;
  }
}