@use '../../styles/vars';
@import '../../styles/mixins';

.list {
  @include animApparition;
  opacity: 0;
  position: relative;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
  padding-bottom: 4em;
  min-height: 200px;
  min-width: 260px;
  width: 70vw;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &.light {
    border-color: vars.$black;
    color: vars.$black;
    background: vars.$main-color;
  }

  &.dark {
    border-color: vars.$white;
    color: vars.$white;
    background: vars.$dark-grey;
  }

  &--title {
    font-weight: bold;
    margin-bottom: 1.5em;
  }
}

@media screen and (min-width: 850px) {
  .list {
    width: 20em;
    padding: 2em 1em 4.5em;
    margin: 4em 2em;

    &--title {
      margin-left: 0.25rem;
      font-size: 1.2em;
    }
  }
}