@use '../../styles/vars';
@import '../../styles/mixins';

.settings {
  @include animApparition(1s, 1s);
  @include posFixed(0, auto, auto, 0);
  @include flexCenter;
  transform: translateY(-100%);
  opacity: 0;

  &.light {
    .settings--container {
      background: vars.$light-grey;
      color: vars.$black;
    }
  }

  &.dark {
    .settings--container {
      background: vars.$dark-grey;
      color: vars.$white;
    }

    .settings--button::after {
      color: vars.$white;
    }
  }

  &--button {
    @include posAbsolute(0, auto, auto, 0);
    @include flexCenter;
    height: 50px;
    width: 50px;
    transition: .3s;
    padding: 1em;

    &::after {
      content: 'Paramètres';
      position: absolute;
      margin-left: 0.5em;
      color: vars.$white;
      opacity: 0;
      transform: translateX(35%);
      transition: .3s;
      color: inherit;
    }

    &:active {
      transform: scale(0.9);
    }

    &.opened {
      &::after {
        opacity: 1;
        transform: translateX(70%);
      }

      &:active {
        transform: none;
      }
    }

    &--img {
      height: 100%;
    }
  }

  &--container {
    @include posFixed(0, auto, auto, 0);
    @include flexCenter;
    flex-direction: column;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 100vw;
    transition: .5s;

    &.opened {
      @include posFixed(0, auto, auto, 0);
      @include flexCenter;
      flex-direction: column;
      height: 100vh;
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }

    &--alert {
      color: vars.$red;
      font-size: 0.8em;
      position: absolute;
      text-align: center;
      margin-top: 0.5em;
    }
  }
}

@media screen and (min-width: 850px) {
  .settings {
    @include posFixed(auto, 1em, 0, auto);
    transform: translateY(100%);

    &.light {
      .settings--container {
        border-top: 2px solid vars.$black;
        border-right: 2px solid vars.$black;
        border-left: 2px solid vars.$black;
      }
    }

    &.dark {
      .settings--container {
        border-top: 2px solid vars.$white;
        border-right: 2px solid vars.$white;
        border-left: 2px solid vars.$white;
      }
    }

    &--button {
      @include posAbsolute(auto, 0, 1em, auto);
      width: 80px;
      height: 80px;
      transition: .3s;
  
      &:hover {
        transform: rotate(90deg);
      }

      &:active {
        transform: rotate(90deg) scale(0.9);
      }

      &.opened {
        width: 50px;
        height: 50px;
        transform: translate(-21em, -14em);
        cursor: default;

        &:hover {
          transform: translate(-21em, -14em);
        }

        &:active {
          transform: translate(-21em, -14em);
        }
      }

      &--img {
        transition: .3s;
      }
    }

    &--container {
      @include posFixed(auto, 1em, 0, auto);
      border-top-left-radius: 10px;
      width: 20em;
      transform: translateY(100%);

      &.opened {
        @include posFixed(auto, 1em, 0, auto);
        height: auto;
        padding: 5em 4em 3em;
      }

      &--alert {
        margin-top: 2rem;
        padding: 0 1em;
        font-size: 0.9em;
      }
    }
  }
}