$black: #1D2424;
$white: #E3E5EB;

$light-grey: #cdd3db;
$grey: #A4AAB3;
$dark-grey: #323031;

$green: rgb(22, 155, 22);
$green-hover: rgb(57, 202, 57);

$red: rgb(185, 17, 17);
$red-hover: rgb(209, 41, 41);

$blue: rgb(52, 52, 231);
$blue-hover: rgb(91, 91, 255);

$main-color: #d38622;
$main-hover: #d1a655;