$black: #1D2424;
$white: #F8F7F9;

$light-grey: #bbbec0;
$grey: #909ba1;
$dark-grey: #2f3235; 

$green: #558B6E;
$green-hover: #62917A;

$red: #f0341b;
$red-hover: #ee4236;

$main-color: #3498db;
$main-hover: #59b9fa;