$black: #1D2424;
$white: #F8F7F9;

$light-grey: #D4D2D5;
$grey: #BFAFA6;
$dark-grey: #24252e; 

$green: #558B6E;
$green-hover: #62917A;

$red: #f0341b;
$red-hover: #ee4236;

$main-color: #445eb9;
$main-hover: #5672d6;