@use '../../styles/vars';
@import '../../styles/mixins';

.add__task {
  @include posAbsolute(auto, auto, 0, 0);
  @include flexCenter;
  padding: 0.1em 0.5em 0.5em;
  width: 100%;
  height: 40px;

  &.dark {
    .add__task--button {
      color: vars.$white;
    }
  }

  &.opened {

    .add__task {

      &--button {
        transform: translateX(-50px);
        opacity: 0;
      }

      &--form {
        position: relative;
        opacity: 1;
        @include animApparition(.3s);
      }
    }
  }

  &--button {
    @include posAbsolute(auto, auto, 0.25em, 0.25em);
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    margin-left: 0.5rem;
    transition: .3s;
    width: 100%;

    &--label {
      margin-left: 0.75em;
      font-size: 0.75rem;
      font-weight: 300;
      transition: .3s;
    }
  }

  &--form {
    position: absolute;
    opacity: 0;
    transition: .3s;
    width: 90%;
    transform: translateX(50px);
    @include animApparition(.3s);

    &--input {
      padding: 0.5em 1em;
      width: 100%;
      border-radius: 5px;
      background: vars.$white;
      border: 2px solid transparent;

      &:focus {
        border-color: vars.$main-color;
      }
    }
  }
}

@media screen and (min-width: 850px) {
  .add__task {
    @include posAbsolute(auto, auto, 0.25em, 0);

    &--button {

      &--icon {
        padding: 0 0.3em;
        border-radius: 5px;
      }

      &:hover {
        .add__task--button--icon {
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }

    &--form {
      width: 95%;

      &--input {
        padding: 0.75em 1em;

        &:hover {
          border-color: vars.$main-hover;
        }
      }
    }
  }
}