@use '../../styles/vars';
@import '../../styles/mixins';

.add__list {
  @include posFixed(auto, 0, 1em, 0);
  @include flexCenter;
  flex-direction: column;

  &.no_list {
    @include posAbsolute(50%, auto, auto, 50%);
    transform: translate(-50%, -50%);
  }

  &.light {
    .add__list--icon {
      border: 2px solid vars.$black;
      color: vars.$black;
    }

    .add__list--label {
      color: vars.$black;
    }
  }

  &.dark {
    .add__list--icon {
      border: 2px solid vars.$white;
      color: vars.$white;
    }

    .add__list--label {
      color: vars.$white;
    }
  }

  &--icon {
    @include flexCenter;
    z-index: 2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 2em;
    background: vars.$main-color;
  }
  
  &--label {
    margin-top: 0.5em;
    width: 10em;
    font-weight: bold;
    background: transparent !important;
  }

  &:active {
    transform: scale(0.9);
  }
}

@media screen and (min-width: 850px) {
  .add__list {
    @include posAbsolute(3em, 5em, auto, auto);

    &.no_list {
      @include posCenter;
    }

    &--icon {
      border-radius: 10px;
      transition: none !important;
    }
  
    &--label {
      position: absolute;
      margin-top: 0;
      z-index: 1;
      opacity: 0;
      transition: .3s !important;
      transform: translateY(1em);
    }

    &:hover {
      .add__list--icon {
        background: vars.$main-hover;
      }

      .add__list--label {
        opacity: 1;
        transform: translateY(3em);
      }
    }
  }
}