@use '../../styles/vars';
@import '../../styles/mixins';

.lists {
  @include flexCenter;
  margin-top: 1em;
  padding-bottom: 20vh;

  &--container {
    @include flexCenter;
    flex-direction: column;
    width: 90vw;
  }
}

@media screen and (min-width: 850px) {
  .lists {
    margin-top: 10vh;
    padding-bottom: 0;

    &--container {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      max-width: 70vw;
    }
  }
}