@use '../../styles/vars';
@import '../../styles/mixins';

.behind {
  @include posFixed(0, auto, auto, 0);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.modal {
  @include posFixed(0, auto, auto, 0);
  @include flexCenter;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;

  &--container {
    @include animApparition(1s);
    @include flexCenter;
    flex-direction: column;
    max-width: 90vw;
    max-height: 80vh;
    z-index: 11;
    padding: 4em 2em;
    border-radius: 10px;
    z-index: 30;
    position: relative;
    opacity: 0;

    &.light {
      border: 2px solid vars.$black;
    }

    &.dark {
      border: 2px solid vars.$white;
    }
  }
}

@media screen and (min-width: 850px) {
  .modal {
    &--container {
      max-width: 50em;
      max-height: 80vh;
      padding: 4em 4em 2em 4em;
    }
  }
}