@use '../../styles/vars';
@import '../../styles/mixins';

.header {
  @include animApparition(1s, 1s);
  transform: translateX(-50px);
  opacity: 0;
  padding: 3em;

  &.light {
    color: vars.$black;
  }

  &.dark {
    color: vars.$white;
  }

  &--title {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
  }
}

@media screen and (min-width: 850px) {
  .header {
    padding: 2em;

    &--title {
      text-align: start;
      font-size: 2em;
    }
  }
}

@media screen and (min-width: 1400px) {
  .header {
    padding: 3em;

    &--title {
      font-size: 3em;
    }
  }
}