@use '../../styles/vars';
@import '../../styles/mixins';

.close {
  background: transparent !important;
  @include flexCenter;
  @include posAbsolute(0.5em, 0.5em, auto, auto);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  padding: 0.8em;
  transition: transform .2s;
  z-index: 2;

  &--label {
    position: absolute;
    visibility: hidden;
  }

  &--icon {
    background: transparent !important;
    font-size: 40px;
    transform: rotate(45deg);
  }

  &:active {
    transform: scale(0.8);
  }
}

@media screen and (min-width: 850px) {
  .close {
    @include posAbsolute(0, 0, auto, auto);
    border: 2px solid vars.$white;
    transform: translate(50%, -50%);
    transition: transform .2s !important;

    &.light {
      border-color: vars.$black;
      background: vars.$white !important;

      .close--label {
        color: vars.$black;
      }
    }

    &.dark {
      border-color: vars.$white;
      background: vars.$black !important;

      .close--label {
        color: vars.$white;
      }
    }

    &--label {
      color: vars.$white;
      visibility: visible;
      opacity: 0;
      z-index: 1;
      transform: translateY(-0.5em);
      transition: .3s;
    }

    &:hover {
      background: vars.$red !important;

      .close--label {
        opacity: 1;
        transform: translateY(-2.5em);
      }
    }

    &:active {
      transform: translate(50%, -50%) scale(0.9);
    }
  }
}