@use '../../styles/vars';
@import '../../styles/mixins';

.delete__list {
  @include posAbsolute(5px, 5px, auto, auto);
  @include flexCenter;
  width: 25px;
  height: 25px;
  transition: transform .2s !important;

  &.light {
    color: vars.$black;
  }

  &.dark {
    color: vars.$white;
  }

  &--icon {
    height: 100%;
  }

  &--label {
    position: absolute;
    opacity: 0;
  }

  &:active {
    transform: scale(0.9);
  }
}

@media screen and (min-width: 850px) {
  .delete__list {
    @include posAbsolute(0, 0, auto, auto);
    transform: translate(50%, -50%);
    width: 40px;
    height: 40px;
    padding: 0.5em;
    border-radius: 50%;
    border: 2px solid transparent;

    &.light {
      border-color: vars.$black;
      background: vars.$white;
    }

    &.dark {
      border-color: vars.$white;
      background: vars.$dark-grey;
    }

    &--label {
      transition: .3s;
    }

    &:hover {
      background: vars.$red-hover;

      .delete__list--label {
        opacity: 1;
        transform: translateY(-2.5em);
      }
    }

    &:active {
      transform: translate(50%, -50%) scale(0.9);
    }
  }
}